<header id="top-header" class="header">
    <span class="siteName">
      <a href="/" class="title-left" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <a class="title-right" title="Click to log in" href="/account/login">My Account</a>
    </div>
  </header>