<nav>
  <ul>
    <li>
    <a href="home.html">Home</a>
    <a href="custom.html">Custom</a>
    <a href="sedan.html">Sedan</a>
    <a href="suv.html">SUV</a>
    <a href="truck.html">Truck</a>
  </li>
  </ul>
  </nav>