/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

img {
  height: 100%;
}

.checkers {
  display: none;
}

h1 {
  font-size: 60px;
}

.title-left {
  font-size: 60px;
}

.title-right {
  font-size: 30px;
}

  /* body + main + checkerboard */
  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-repeat:repeat;
    background-size: 35em 35em;
  }
  #wrapper {
    background-color: white;
    border-radius: 1.2em;
    border: 3px solid rgb(2, 204, 249);
    width: 80%;
    margin: auto;
    /* display: none; */
  }

/* Header Styles *********/
header a, .own-now, h1, h2, h3, h4, h5, h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 2em;
  text-align: left;
}

#tools {
  text-align: right;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: .2em;
}
/* End of Header Styles *********/


/* navigation styles ********/
nav {
  background-color: black;
  overflow: hidden;
  font-size: 25px;
  display: flex;
  justify-content: center; 
  text-align: center; /* Center the items horizontally */
}

nav > ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

nav > ul > li {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  margin: 0 50px; /* Adjust the margin as needed for spacing */
  font-size: 35px;
}

nav a:hover {
  color:  rgb(2, 204, 249);
}

/* End of Navigation ******************/



/* Start of upgrades ******************/
.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrades {
  text-align: center;
}

.upgrade {
  background-color:rgb(2, 204, 249);
  border: 2px solid gray;
  min-height: 5em;
  text-align: center;
  margin: .5em;
  height: 80%;
}

.upgrades h2 {
  text-align: left;
  font-size: 40px;
}

.upgrade img {
  padding: .6em;
}
/* End of upgrades ******************/


/* footer */
footer {
  padding: 1em;
  padding-bottom: .2em;
}



/* Start of hero *************************/
.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hero-grid img {
  width: 100%;
  height: auto;
  justify-self: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.hero-grid div {
  background-color: rgba(239, 234, 234, 0.581);
  color: rgb(2, 204, 249);
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.hero-grid .own-today {
  background-color: rgb(2, 204, 249);
  color: black;  
  text-align: center;
  padding: 1em;
  font-size: 30px;
  font-weight: 500;
}

.hero-grid h2 {
  font-size: 50px;
  color: rgb(2, 204, 249);
  text-align: center;
  padding-left: 1em;
}

.hero-grid p {
  font-size: 40px;
  color: rgb(2, 204, 249);
  text-align: center;
  padding-left: 1.5em;
}
/* End of hero *************************/

/* Start of extra-grid ******************/
.extra-grid {
  display: flex;
}

.reviews, .upgrades {
  flex: 1; /* Distribute the available space equally between the two grids */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  padding: 10px; /* Add padding for better spacing */
}

.reviews {
  order: 2;
}

.upgrades {
  order: 1;
}

/****/

/* Start of reviews ******************/
.reviews h2 {
  text-align: right;
  font-size: 40px;
}

.reviews ul li {
  text-align: left;
  font-size: 25px;
  padding: 14px 16px;
}
/* End of reviews ******************/


/* Start of upgrades ******************/
.upgrades {
  text-align: center;
  width: 50%;
}

.upgrades h2 {
  text-align: left;
  font-size: 40px;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrade {
  background-color:rgb(2, 204, 249);
  border: 2px solid gray;
  min-height: 5em;
  text-align: center;
  margin: .5em;
  height: 80%;
}

.upgrade img {
  padding: .6em;
}
/* End of upgrades ******************/


/* Start of reviews ******************/
.reviews {
  width: 50%;
}

.reviews h2 {
  text-align: left;
  font-size: 40px;
}

.reviews ul li {
  text-align: left;
  font-size: 25px;
  padding: 14px 16px;
}

/* End of reviews ******************/
/* class pages */
#inv-display {
  display: grid;
  gap: 1em;
  list-style: none;
  /* padding: 0; */
  padding: 1em;
  justify-content: center;
}

#inv-display li img {
  /* height: 100%; */
  max-height: 50%;
}
#inv-display li {
  /* height: 100%; */
  /* width: 100%; */
  max-width: 25em;
  background-color: black;
  border-radius: 1.5em;
  /* margin: 1em; */
  padding: 2em;
  text-align: center;
}

.namePrice {
  color: white;
}
.namePrice h2 > a {
  font-family: inherit;
  color: white;
  text-decoration: none;
}

#singleVehicleWrapper {
  display: grid;
}
#singleVehicleWrapper img {
  width: 99%;
  margin: auto;
}
#singleVehicleDetails {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style: none;
  padding: 0;
}
#singleVehicleDetails li:nth-child(even) {
  background-color: gainsboro;
}
#singleVehicleDetails li h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
#singleVehicleDetails li {
  font-size: 1.2em;
  padding: .8em;
  border-radius: .5em;
}


/*  START HERE week3  */











/*  END HERE week3  */











/* samsung galaxy S20 Ultra phone Dimension 412x915****************************/
@media only screen and (max-width: 412px) {
 body {
  height: auto;
 }


 #wrapper {
  background-color: white;
  height: auto;
  width: 100%;
}

  h1 {
    font-size: 25px;
  }
  
  .title-left {
    font-size: 15px;
  }
  
  .title-right {
    font-size: 15px;
    margin-right: 100px;
  }

  .siteName {
    font-size: .5em;
    text-align: left;
  }

  /* navigation styles ********/
  nav {
    background-color: black;
    overflow: hidden;
    font-size: 5px;
    display: flex;
    justify-content: center; 
    text-align: left; /* Center the items horizontally */
    max-width: 400px;
  }

  nav > ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  
  }

  nav > ul > li {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 300px;
  }

  nav > ul > li > a {
    text-decoration: none;
    color: rgb(250, 244, 244);
    margin: 0 5px; /* Adjust the margin as needed for spacing */
    margin-right: 15px;
    max-width: 300px;
    font-size: 10px; 
  }   

nav a:hover {
  color:  rgb(2, 204, 249);
}
/* End of Nav****************/


/* Start of hero *************************/
.hero-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: 350px;
  height: 180px;
}

.hero-grid img {
  margin-top: 50px;
  width: 80%;
  height: 50%;
  justify-self: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.hero-grid div {
  background-color: rgba(239, 234, 234, 0.581);
  color: rgb(2, 204, 249);
  padding-left: 1em;
  padding-right: 1em;
  width: 40%;
  grid-column: 1/2;
  grid-row: 1/-1;
  height: 150px;
}

.hero-grid .own-today {
  background-color: rgb(2, 204, 249);
  color: black;  
  text-align: center;
  padding: 1em;
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  height: 20%;
}

.hero-grid h2 {
  font-size: 14px;
  color: rgb(2, 204, 249);
  text-align: center;
  padding-left: 1em;
}

.hero-grid p {
  font-size: 10px;
  color: rgb(2, 204, 249);
  text-align: center;
  padding-left: 1.5em;
}
/* End of hero *************************/


.extra-grid {
  display: flex;
  flex-direction: column;
}

.reviews, .upgrades {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  width: 300%;
}


/* Start of reviews ******************/
/*left to right***********************/
.reviews{
  order: 1; /* Set the order to 1 for the left grid, making it appear below the right grid */
  margin-left: 0;
  max-width: 300px; /* Set a maximum width for the reviews section */
  height: 250px;
  width: 400px;
}
.reviews h2 {
  text-align: left;
  font-size: 20px;
}

.reviews ul{
  text-align: left;
  font-size: 12px;
  padding: 7px 8px;
  width: 300px;
}

.reviews ul li {
  text-align: left;
  font-size: 12px;
  padding: 7px 8px;
  width: 280px;
}


/* End of reviews ******************/


/* Start for the upgrades section *************/
.upgrades {
  margin-top: 5px; /* Add margin to separate the two sections */
  margin-right: 10px;
  height: 300px;
  width: 380px;
 }

 .upgrades h2 {
  text-align: left;
  font-size: 20px;
  width: 280px;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
}

.upgrade {
  background-color:rgb(2, 204, 249);
  border: 2px solid gray;
  min-height: 3em;
  max-width: 100px; 
  text-align: center;
  margin: .5em;
  height: 80%;
}
}
/* End of Upgrades*************/
/* End of samsung galaxy S20 Ultra phone Dimension 412x915 ****************************/




/* laptop/desktop *******************/
@media screen and (min-width: 1700px) {
  #inv-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #singleVehicleWrapper img {
    width: auto;
    max-height: 25em;
  }
}

/* End of laptop/desktop ****************************/